<h3>How can I trust you?</h3>

<p>You can't. CloudLiNode doesn't monitor your Traffic to provide you with targeted ads, nor do we read File contents unless it's for legal reasons.<br> 
However, it is 100% possible for me to read your Files, and I didn't integrate any internal Encryption, so you're just going to <br>
have to take my word for it. Also, literally Any encryption implementation would still technically allow me to read Files, too<br>
since I implemented the method.
</p>

Also, there's this quote from /g/:<br>
<i>
Administering a cloud host is sort of like being a nurse; there's a brief period at the start when the thought of seeing people's privates might be vaguely titillating in a theoretical sense, 
but that sort of thing doesn't last long when it's up against the daily reality of shit, piss, blood, and vomit.

Now that I think about it, administering a cloud service is exactly like being a nurse, only people die slightly less often. 
</i>