<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudLiNode | Login</title>
    <link rel="icon" href="/cdn/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut-icon" href="/cdn/img/favicon.ico" type="image/x-icon"/>

</head>
<body>
    <form action="/login" method="post">
        <input name="username" placeholder="Username">
        <input name="passwd" placeholder="Password" type="password">
        <input type="submit">
        <input type="reset">
    </form>
</body>
</html>